form {
  padding: 0 1.5rem;
}
.submit {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: stretch;
  position: relative;
  top: 1rem;

  button {
    width: 100%;
  }
}
