/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.notify-error {
  background-color: crimson;
  color: white;
}
.notify-success {
  background-color: chartreuse;
  color: black;
}

/* form handler */
.mat-form-field-suffix {
  .mat-icon {
    position: relative;
    top: 4px;
  }
}
